*{
    padding: 0;
    margin: 0;
}
.menu-bar{
    background: rgb(0,100,0 );
    text-align: center;
}
.menu-bar ul{
    display: flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px ;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}